*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: pink;
}

.start_btn,
.info_box{position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

/*Start Quiz Button Styling*/
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: pink;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}

.info_box{
    display: none;
    width: 540px;
    background: #ffffff;
    border-radius: 5px;
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey ;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span{
    font-weight: 600;
    color: pink;
}

.info_box .controls{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;

}

.info_box .controls button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease ;
}

.controls button.quit{
    color: #ffffff;
    background: pink;
}

.controls button.quit:hover{
    background:palevioletred;
}


.controls button.next{
    color:#ffffff;
    background: pink;
}

.controls button.next:hover{
    background: palevioletred;
}